# Compiler path
MP_CC := "/opt/microchip/xc8/v2.36/bin/xc8-cc"
MP_AR := "/opt/microchip/xc8/v2.36/bin/xc8-ar"

# Which device family pack to use (from docs/XC8_guide.pdf, pag. 57)
DFP_DIR := /opt/microchip/mplabx/v6.00/packs/Microchip/PIC16Fxxx_DFP/1.3.42

# IP of the raspberry you are using to program the PIC.
# (Another reason to have an update script)
IPPI := "192.168.1.10"

SHELL=/bin/bash
seconds := $(shell date +"%s")
# Correction needed for the delay introduced during the upload
offset := 12